<template>

    <span v-if="!onCollection"
          @click="addFilmToCollection">
        <i class="el-icon-star-off"
        ></i>
    </span>

    <span v-else>
    <i class="el-icon-star-on is-fav-active"
       @click="removeFilmFromCollection">
    </i>
    </span>

</template>

<script>
    export default {
      props: {
          onCollection: {
          type: Boolean,
          default: false,
        }
      },
      methods: {
        addFilmToCollection() {
          this.$emit('addFilmToCollection')
        },
        removeFilmFromCollection() {
          this.$emit('removeFilmFromCollection')
        }
      },
    }
</script>

<style lang="scss" >
    .is-fav-active {
        color: orangered;
    }

</style>