<template>
    <div class="favorite__list">
        <div v-for="(film, index) in collection" :key="film.id">
            <p> {{index + 1}}.{{film.title}}</p>
        </div>
    </div>
</template>




<script>
    export default {
        props: ['collection'],
    }

</script>

<style lang="scss" scoped>
    .favorite__list {
        position: absolute;
        top: 10px;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 5px;

}
</style>