<template>
        <el-row>
            <el-col :span="20">
                <div  v-if="isLoading"
                      class="loading"
                      v-loading="isLoading"
                      element-loading-spinner="el-icon-loading">
                </div>
                <div class="small-text"
                     v-for="genre of genreList"
                     v-bind:key="genre.id">
                    {{genre.name}}
                </div>
            </el-col>
        </el-row>
</template>

<script>
        export default {
        props: [ 'genreList', 'isLoading'],
    }
</script>

<style scoped>
    .small-text {
        font-size: 10px;
        display: inline;
        padding-left: 10px;
        padding-top: 1px;
        float: left;
    }
</style>