<template lang="html">

<!--    <div  v-if="isLoading"-->
<!--          v-loading="isLoading"-->
<!--          element-loading-text="Loading..."-->
<!--          element-loading-spinner="el-icon-loading"-->
<!--          customClass="loading">-->
<!--    </div>-->

<!--        <div class="film" v-else>-->
        <div class="film" >

            <div class="film__header">
                <collection-button
                        :onCollection="onCollection"
                        @addFilmToCollection="addFilmToCollection()"
                        @removeFilmFromCollection="removeFilmFromCollection()">
                </collection-button>
                    <h3>{{ title }}</h3>
            </div>



            <div class="film__block-info">
                <div class="film__block-info__poster">
                    <img  :src="posterLink">
                </div>

                <div class="film__block-info__details">
                    <p class="film_body">{{ overview }}</p>
                    <p > Genres:
                        <template v-for="(genre, index) in genreList">
                            <span
                                  class="film__block-info__details__genres"
                                  :key="`${index}-${genre.id}`"
                            >{{genre.name}} </span>
                        </template>
                    </p>

                    <p >Release date: {{ release_date }}</p>
                    <p >Revenue: {{ revenue }}</p>
                    <p > Production countries:
                        <template v-for="(country, index) in this.production_countries">
                            <span
                                    class="film__block-info__details__genres"
                                    :key="`${index}-${country.name}`"
                                  >{{ country.name }}
                            </span>
                        </template>
                    </p>
                </div>

                <div class="film__block-info__cast">
                    <p > Cast: <br>
                    <template v-for="(actor, index) in cast" >
                        <div
                                class="film__block-info__credits"
                                :key="`${index}-${actor.id}`" >
                        <span >{{ actor.name }}: </span>
                        <span >{{ actor.character }}</span>
                            <br>
                    </div>
                    </template>
                    </p>
                </div>

                <div class="film__block-info__recomendations">
                    <p > Recomedations: <br>
                        <template v-for="(recFilm, index) in recomendations" >
                            <div
                                    class="film__block-info__credits"
                                    :key="`${index}-${recFilm.id}`"
                                    >
                                <span >{{ recFilm.title }} </span>
                                <br>
                            </div>
                        </template>
                    </p>
                    <el-pagination
                            v-if="pagesOfRecomendations > 1"
                            layout="prev, next"
                            @current-change=getRecomendations($event)
                    >
                    </el-pagination>
                </div>
            </div>
        </div>



</template>

<script>
    import collectionButton from './CollectionButton';

    export default {
        components: {
            'collection-button': collectionButton,
        },
        props: [
          'title',
          'posterLink',
          'overview',
          'genreList',
          'release_date',
          'revenue',
          'production_countries',
          'cast',
          'pagesOfRecomendations',
          'recomendations',
          'onCollection',
          'isLoading'

        ],
        methods: {
            getRecomendations(event) {
                this.$emit('getRecomendations', event)
            },
            addFilmToCollection() {
                this.$emit('addFilmToCollection')
            },
            removeFilmFromCollection() {
                this.$emit('removeFilmFromCollection')
            },
        },
        watch: {
            '$route.params.id': {
                handler(id) {
                    this.$emit('getInfoOfFilm', id);
                },
                immediate: true,
            }
        },
    }


</script>

<style lang="scss" scoped>
    img {
        height: 370px;
    }
    .film {
        position: absolute;
        top: 10px;
        width: 95%;
        /*max-width: 500px;*/
        /*margin: 0 auto;*/
        padding:70px 10px 200px 10px;
        display: flex;
        &__header {
            display: flex;
            position: absolute; top: 10px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        &__body {
            position: relative;
            z-index: 1;
        }
        &__block-info {
            display: inline;
            overflow: auto;
            width: 100%;

            &__poster {
                position: relative;
                float: right;
                padding: 0 10px 10px 20px;
                /*display:inline-block;*/

            }
            &__details {
                padding: 10px;
                width: 70%;
                /*display:inline-block;*/
                &__genres {
                    border-right: 1px solid #42b983;
                    padding-rigth: 2px;
                    padding-left: 2px;
                }
            }
            &__credits {
                padding-top: 5px;
            }
        }

    }
    .loading {
        background-color: gainsboro;
    }
</style>
