<template>
    <div class="film__stub">
        <img src='../assets/hello.png'>
    </div>
</template>

<script>
    export default {
    }
</script>

<style lang="scss" scoped>
    .film {
        &__stub {
            position: absolute;
            bottom:10px;
        }
    }
</style>