<template>
  <div id="app">
    <header>
      <h1> Vue.js SPA </h1>
      <div v-show="collection.length > 0" class="favorites__link">



        <router-link  v-if="!content"
                      v-bind:to="{name: 'stub'}">
          <el-button type="warning" size="mini" v-on:click="changeDisplayingContent">favorites
          </el-button>
        </router-link>

        <router-link v-else
                     v-bind:to="{name: 'favorites', params: {collection: collection}}">
          <el-button type="warning" size="mini" v-on:click="changeDisplayingContent">favorites
          </el-button>
        </router-link>

      </div>
    </header>


    <main>
      <aside class="sidebar">


        <div class="search-bar">

            <el-input
                    v-model="srcFilm"
                    placeholder="Search film">
            </el-input>
          <el-button
                  icon="el-icon-search" plain
                  @click="searchFilter">
          </el-button>


        </div>

        <div class="film-list">
          <div  v-if="isLoading"
                class="loading"
                v-loading="isLoading"
                element-loading-text="Loading..."
                element-loading-spinner="el-icon-loading"
                customClass="loading">
          </div>

          <div class="block" v-else>
            <div class="film-item"
                 v-for="(film, index) in films"
                 :key="`${index}-${film.id}`"
            >
              <collection-button
                      v-bind:onCollection="checkCollection(film.id)"
                      @addFilmToCollection="addFilmToCollection({id: film.id, title: film.title})"
                      @removeFilmFromCollection="removeFilmFromCollection({id: film.id, title: film.title})"
              ></collection-button>
              <router-link
                      class="link"
                      active-class="is-active"
                      v-on:click="disableStub"
                      v-bind:to="{
                      name: 'film',
                      params: {
                        id: film.id,
                    }}"
              >
                <span> {{ film.title}} </span>
              </router-link>
              <films-item
                      v-if="allGenres.length"
                      v-bind:genreList="matchingGenres(film.genre_ids)">
              </films-item>

            </div>
        </div>
        </div>
        <div class="pagination">
          <el-footer>
          <el-pagination
                  v-if="pages > 1"
                  layout="prev, pager, next"
                  :pager-count="5"
                  :page-count="pages"
                  @current-change=searchFilter($event)
                  @prev-click=prevPage()
                  @next-click=nextPage()>
          </el-pagination>
          </el-footer>
          </div>
      </aside>

      <div class="content">
        <router-view
          v-if="choosedFilm"
          @addFilmToCollection="addFilmToCollection({id: choosedFilm.id, title: choosedFilm.title})"
          @removeFilmFromCollection="removeFilmFromCollection({id: choosedFilm.id, title: choosedFilm.title})"
          @getInfoOfFilm="getFilm"
          @getRecomendations="getRecomendations($event)"
          v-bind:title="choosedFilm.title"
          v-bind:posterLink="posterLink"
          v-bind:overview="choosedFilm.overview"
          v-bind:genreList="genreList"
          v-bind:release_date="choosedFilm.release_date"
          v-bind:revenue="choosedFilm.revenue"
          v-bind:production_countries="choosedFilm.production_countries"
          v-bind:cast="cast"
          v-bind:recomendations="recomendations"
          v-bind:pagesOfRecomendations="pagesOfRecomendations"
          v-bind:onCollection="checkCollection(choosedFilm.id)"
          v-bind:isLoading="loading">
        </router-view>
        <router-view v-else />
      </div>
    </main>
  </div>
</template>

<script>
  /* eslint-disable */

  import axios from "axios";
  import filmsItem from "./components/FilmsItem";
  import collectionButton from "./components/CollectionButton";

  export default {
    components: {
      'films-item': filmsItem,
      'collection-button': collectionButton,
    },
    data() {
      return {
        apiKey: "def62adc69c13ef59ede2eb96656cf30", // api-ключ для доступа к базе данных
        films: null, // переменная со всеми фильмами текущей страницы
        currentPage: 1, // номер текущей страницы
        pages: null, // всего страниц
        isLoading: false,
        srcFilm: null,
        numberOfFilms: null,
        allGenres: [],
        collection: [],
        content: false,
        onCollection: false,
        endpoint:
                "https://api.themoviedb.org/3/",
        choosedFilm: {},
        images: null,
        cast: [],
        recomendations: [],
        genreListOfFilm: [],
        genreList:[],
        pagesOfRecomendations: 0,
        posterLink: null,
        endpointOfposter:
          'https://image.tmdb.org/t/p/w500',
        loading: false
      };
    },
    created() {
      this.getAllFilms();
      this.getGenres();
      this.getCollection();
    },
    methods: {
      // получает все фильмы
      async getAllFilms($event) {
        this.isLoading = true;
        if ($event) {
          this.currentPage = $event
        }
        try {
        await axios
                .get(this.endpoint+"movie/popular?language=en-US&page="+ this.currentPage + "&api_key="+this.apiKey)
                .then(res => {
                  this.films = res.data.results;
                  this.pages = res.data.total_pages -1;
                  this.isLoading = false;
                })
        } catch(e) {
          throw new Error (e);
        }
      },
      // получаем список жанров для каждого фильма
      async getGenres() {
        this.isLoading = true;
        try {
        await axios(this.endpoint + "genre/movie/list?api_key=" + this.apiKey + "&language=en-US")
                .then(res => {
                  let g = res.data.genres;
                  for (var i = 0; i < g.length; i++) {
                    this.allGenres.push(g[i]);
                  }
                });
        } catch (e) {
          throw new Error (e);
        }
      },
      // меняет страницы навигации
      nextPage() {
        this.currentPage++;
      },
      prevPage() {
        this.currentPage--;
      },
      // определяет - отфильтровать список или загрузить полный список фильмов
      searchFilter (event) {
        this.srcFilm ? this.querySearchAsync(event) : this.getAllFilms(event);
      },
      // фильтрует список по запросу
      async querySearchAsync(event) {
          this.isLoading = true;
            if(this.srcFilm) {
                try {
                    event ? this.currentPage = event : this.currentPage = 1;
                    await axios
                        .get(this.endpoint+"search/movie?include_adult=false&page="+
                            this.currentPage + "&language=en-US&api_key="+ this.apiKey +
                            "&query=" + this.srcFilm)
                        .then(res => {
                            this.films = res.data.results;
                            this.pages = res.data.total_pages;
                            this.isLoading = false;
                        })
                } catch(e) {
                    throw new Error (e);
                }
            }  else {
                this.getAllFilms();
            }
        },

      // получает избранные фильмы из локального хранилища
      getCollection () {
        this.loading= true;
        if (localStorage.getItem('collectionOfFilm')) {
          try {
            this.collection = JSON.parse(localStorage.getItem('collectionOfFilm'));
          } catch(e) {
            throw  new Error(e);
          }
          this.loading=false;
        }
      },
      // добавляем фильм в избранное
      addFilmToCollection(event) {
        this.collection.push({ id: event.id, title: event.title });
        this.saveCollection();
      },
      // удаляем фильм из избранного
      removeFilmFromCollection(event) {
        let i = this.collection
          .indexOf(
            this.collection
              .find(x => x.id === event.id)
          );
        if (i > -1) {
          this.collection.splice(i, 1);
        } else {
          return console.log('уже удалено');
        }
        this.saveCollection();
      },
      // сохраняем изменения в локальном хранилище
      saveCollection() {
        const parsed = JSON.stringify(this.collection);
        localStorage.setItem('collectionOfFilm', parsed);
      },
      // проверяет есть ли выбранный фильм в Избранном
      checkCollection(id) {
        return !!this.collection.find(x => x.id === id);
      },

      //меняют отображение на главной страницы с заглушки на основной контент;
      changeDisplayingContent () {
          this.content = !this.content;
      },
      disableStub () {
        this.content = false;
      },

      async getFilm(id) {
        this.loading = true;
        this.setDefault();
        await axios(this.endpoint + 'movie/' + id + '?api_key=' + this.apiKey)
          .then(res => {
            this.choosedFilm = res.data;
            console.log('choosedFilm', this.choosedFilm);
            this.posterLink = this.endpointOfposter + this.choosedFilm.poster_path;
            this.getCredits(id);
            this.getRecomendations();
            this.genreList = this.choosedFilm.genres;
            // this.matchingGenres(this.choosedFilm.genres);
            this.loading = false;
          })
          .catch(e => {
            throw  new Error(e);
          })
      },
      async getCredits(id) {
        await axios(this.endpoint + 'movie/' + id + '/credits' + '?api_key=' + this.apiKey)
          .then(res => {
            this.cast = res.data.cast;
            if (this.cast.length > 15) {
              this.cast.length = 15
            }
          })
          .catch(e => {
            throw  new Error(e);
          })
      },
      async getRecomendations($event) {
        if ($event) {
          this.currentRecomandationPage = $event;
        }
        await axios(this.endpoint + "movie/" + this.choosedFilm.id + '/recommendations?api_key=' + this.apiKey + "&page=" + this.currentRecomandationPage)
          .then(res => {
            this.pagesOfRecomendations = res.data.total_pages;
            this.recomendations = res.data.results;
          })
          .catch(e => {
            throw  new Error(e);
          })
      },

      matchingGenres(genre_ids) {
        let genreListOfFilm = [];
          try {
            genre_ids.forEach((id) => {
              (genreListOfFilm || []).push(this.allGenres.find(x => x.id === id));
            });
            return genreListOfFilm;
          } catch (e) {
            throw  new Error(e);
          }
      },

      setDefault() {
        this.choosedFilm = null;
        this.images = null;
        this.cast = [];
        this.recomendations = [];
        this.genreList = [];
        this.pagesOfRecomendations = null;
        this.posterLink = null;
        this.currentRecomandationPage = 1;
      },
      }
  };
</script>


<style lang="scss">
  body {
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
      /*background-color: gainsboro;*/
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 30px;
    border-bottom: 1px solid #42b983;
    text-align: center;
    background: #ffffff;
  }
  main {
    display: flex;
    height: calc(100vh - 90px);
    /*max-width: 1200px;*/
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  aside {
    flex: 1 0 30%;
    height: 100%;
    overflow-y: auto;
    width: 30%;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-right: 15px;
    display: grid;
    box-sizing: border-box;
    border-right: 1px solid #42b983;
  }
  .content {
    flex: 1 1 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    &__stub {
      position: absolute;
      bottom:10px;
    }
  }
  .link {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    padding-left: 15px;
    color: #2c3e50;
    &--home {
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &.is-active {
      color: #42b983;
    }
  }
  .search-bar{
    padding-bottom: 5px;
    padding-left: 25px;
    width: 200px;
    height: 40px;
    display: flex;
  }
  .loading {
    height: 50px;
    width: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50%;
    background-color: gainsboro;

  }
  .film-list {
    padding-top: 20px;
    height: 80%;
    /*border-top: 1px solid #42b983;*/
  }
  .film-item {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid lightgrey;
  }
  .pagination {
    height: 10%;
    width: 100%
  }
  .favorites {
    &__link {
      position:fixed;
      left: 10px;
      top: 45px;
    }
  }
  .small-text {
    font-size: 10px;
    display: inline;
    padding-left: 10px;
    padding-top: 1px;
    float: left;
  }
</style>

